{%extends "base.html" %}

{%block js_header %}
    <script type="text/javascript">
        google.load('visualization', '1', {'packages':["corechart"]});
        google.setOnLoadCallback(drawChart);
      
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('datetime', 'Date');
            data.addColumn('number', 'Value');
            {% for result in results %}
                data.addRow([new Date(Date.parse('{{result.session.date|date:"Y/m/d H:00"}}')), parseInt('{{result.value}}')])
            {%endfor%}

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, {width: 800, height: 240, is3D: true, title: 'Value of {{metric.title}}'});
          }
    </script>
{%endblock %}


{%block content %}
<h1>Metric view for {{ metric.title }} ({{ metric.path }})</h1>

<div id="chart_div"></div

<table>
<tr><th>Value</th><th>Date</th><th>Actions</th></tr>

{% for result in results %}
<tr>
  <td>{{result.value}}</td>
  <td>{{result.session.date}}</td>
  <td><input type="submit" class="delete_button" id="delete__{{result.id}}" /></td>
</tr>
{% endfor %}
</table>

<script>
$(document).ready(function() {
    $(".delete_button").click(function(event) {
        var src = event.target.id
        var chunks = src.split("__")
        $.post("/json_api/delete_result", {id : chunks[1]},
               function(data) { location.reload() })
    })
})
</script>
{%endblock%}
