{%extends "base.html" %}

{%block js_header %}
    <script type="text/javascript" src="/site_media/js/hint.js"></script>
    <script type="text/javascript">
        var metrics_table
        var metrics_data
        var values_graph
        var values_data

        google.load('visualization', '1', {'packages':['table', "corechart", "annotatedtimeline"]})
        google.setOnLoadCallback(gdataLoaded);
        
        function gdataLoaded() {
     	      /* Action buttons */
            $("#graph_button").attr("disabled", true);

            $("#graph_button").click(function(event) {
                paths = ""
                selection = metrics_table.getSelection()
                for (var i = 0; i < selection.length; i++) {
                    if (i!= 0) {
                        paths += "&"
                    }
                    paths += "path=" +metrics_data.getValue(selection[i].row, 0)
                }
                $.getJSON("/json_api/metrics_data/{{project.name}}?" + paths,
                    function(data) {
                        drawDetails(data)
                    })
            })

      	    /* Path filter */
            $("#path_filter_input").hint("default_value");    
            $("#path_filter_input").keypress(function(event) {
                if (event.keyCode != '13') {
                    return;
                }
                text = $("#path_filter_input").val()
                console.log("filter is " + text)
                $.getJSON("/json_api/metrics_list/{{project.name}}?path_filter=" + text,
                    function (data) {
                        drawTable(data)
                    }
                )
            })

	          /* Initial data load */
            $.getJSON("/json_api/metrics_list/{{project.name}}",
              function (data) {
                  drawTable(data)
            })
        }

        function drawDetails(jsondata) {
            /* Populate with initial data */
            graph_data = new google.visualization.DataTable();
            table_data = new google.visualization.DataTable();
            graph_data.addColumn('datetime', 'Date');
            table_data.addColumn('datetime', 'Date');
            table_data.addColumn('string', "Session name")
            table_data.addColumn('string', "Session tests set")
            table_data.addColumn('string', "Project version")
            table_data.addColumn('string', "Project branch")
            for (var metric in jsondata.metrics) {
                table_data.addColumn('number', jsondata.metrics[metric].path);
                graph_data.addColumn('number', jsondata.metrics[metric].path);
            }
            if (jsondata.metrics.length == 1) {
                table_data.addColumn('string', 'Delete');
            }

            nsess = 0
            for (var sess = 0; sess < jsondata.sessions.length; sess++) {
                data = jsondata.sessions[sess]
                table_data.addRows(1)
                graph_data.addRows(1);
                table_data.setValue(sess, 0, new Date(data.date*1000))
                graph_data.setValue(sess, 0, new Date(data.date*1000))
                table_data.setValue(sess, 1, data.name);
                table_data.setValue(sess, 2, data.testset);
                table_data.setValue(sess, 3, data.version);
                table_data.setValue(sess, 4, data.branch);
                for (var i = 0; i < jsondata.metrics.length; i++) {
                console.log("Add data");
                    if (data.values[i].value != "undefined") {
                        table_data.setValue(sess, i + 5 , data.values[i].value)
                        graph_data.setValue(sess, i + 1 , data.values[i].value)
                    }
                }
                if (jsondata.metrics.length == 1) {
                    table_data.setValue(sess, 6, 
                        '<input type="submit" class="delete_button" id="delete__' + data.values[0].id + '" value="Delete result"/>');
                }
                nsess++
            }
            static_graph = new google.visualization.LineChart(document.getElementById('static_graph'));
            static_graph.draw(graph_data, {width: 1000, height: 240, is3D: true, title: 'Values'})

            history_graph = new google.visualization.AnnotatedTimeLine(document.getElementById('history_graph'));
            history_graph.draw(graph_data, {width: 1000, height: 240, is3D: true, title: 'Values'})

            values_table = new google.visualization.Table(document.getElementById('values_table'));
            values_table.draw(table_data, {width: 800, is3D: true, title: 'Sessions',allowHtml:"true",
                              page:"enable", pageSize : 20});

            $(".delete_button").click(function(event) {
                var src = event.target.id
                var chunks = src.split("__")
                console.log("Deleting " + src);
                $.post("/json_api/delete_result", {id : chunks[1]},
                       function(data) { 
                       /* Reload table */
                       $("#graph_button").click();
                    });
            })
	      }

        /* Draw the table from JSON data with all metrics */
        function drawTable(jsondata) {
            /* Populate with initial data */
            metrics_data = new google.visualization.DataTable();
            metrics_data.addColumn('string', 'Path');
            metrics_data.addColumn('string', 'Title');
            metrics_data.addColumn('number', 'Nb. Values');
            metrics_data.addColumn('number', 'Latest value');
            for (var i in jsondata) {
                metrics_data.addRow([jsondata[i].path, jsondata[i].title, jsondata[i].nb_values, 0])
            }
            metrics_table = new google.visualization.Table(document.getElementById('metrics_div'));
            metrics_table.draw(metrics_data, {width: 800, is3D: true, title: 'List of metrics',
                              page:"enable", pageSize : 20});

            google.visualization.events.addListener(metrics_table, 'select', function(e) {
                selection = metrics_table.getSelection()
                if (selection.length == 0) {
                    $("#graph_button").attr("disabled", true);
                    $("#details_button").attr("disabled", true);
                } else if (selection.length == 1) {
                    $("#graph_button").attr("disabled", false);
                    $("#details_button").attr("disabled", false);
                } else {
                    $("#graph_button").attr("disabled", false);
                    $("#details_button").attr("disabled", true);
                }
            });
        }
    </script>
{%endblock %}

{%block content %}

<h1>List of metrics for {{ project.name }}</h1>

<div class="filters">
  Filters : 
  <input type="text" id="path_filter_input" title="Path filter"/>
</div>


<div class="metrics_list">
  <div id="metrics_div"></div>
</div>

<div class="metrics_actions">
  Actions :
  <input type="submit" id="graph_button" value="Get graph for selected metrics"/>
</div>

<div id="selected_details">
  <div id="static_graph"></div>
  <div id="values_table"></div>
  <div id="history_graph" style="width:800px; height:240px;"></div>
</div>

{%endblock %}
